{% extends 'base.html' %} {% block title %}Login{% endblock %} 
{% block pagecontent %} {% load crispy_forms_tags %}
<link rel="stylesheet" href="/static/css/login.css" />





{% load socialaccount %}

<!--Login-->
<div class="login">
  <h1>Login</h1>
  <br>
  <form method="POST">
    {% csrf_token %}

    <div id="div_id_username" class="form-group">
      
      <div>
        <input
          type="text"
          name="username"
          autofocus=""
          autocapitalize="none"
          autocomplete="username"
          maxlength="150"
          placeholder = "Username"
          required=""
          id="id_username"
        />
      </div>
    </div>
    <div id="div_id_password" class="form-group">

      <div>
        <input
          type="password"
          name="password"
          autocomplete="current-password"
          placeholder = "Password"
          required=""
          id="id_password"
        />
      </div>
    </div>

    <button class="btn btn-primary btn-block btn-large" type="submit">Login</button>
  </form>
  <br>
  <p class="text-center">
    Don't have an account? <a href="/accounts/register">Create an account</a>.
  </p>
  <div>
  <p style = "text-align: center;"><a href="{% url 'password_reset' %}">Reset Password</a></p>
  </div>



  <a class="btn btn-outline-dark" href="{% provider_login_url 'google' action='reauthenticate' process = "connect" %}" role="button" style="text-transform:none">
    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
    Google
  </a>
</div>

{% endblock %}
