{% extends "base.html" %} {% block pagecontent %}
<html>
<head>
	<title>Current Reservations</title>
	<style type="text/css">

		table {
			margin: 20px auto;
			border-collapse: collapse;
			width: 80%;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
			background-color: #fff;
		}

		th, td {
			padding: 10px;
			border: 1px solid #ddd;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		th {
			background-color: #4CAF50;
			color: #fff;
		}

		td:nth-child(1), td:nth-child(2) {
			font-weight: bold;
		}

		td:nth-child(2) {
			color: #666;
		}
	</style>

	<!-- Add this script to your HTML template -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>


	<script type="text/javascript">
		$(document).ready(function() {
			$('.mark-as-taken-btn').on('click', function() {
				var button = $(this);
				var reservationId = $(this).data('reservation-id');
				var csrfToken = Cookies.get('csrftoken');
				$.ajax({
					url: '/mark_reservation_taken/' + reservationId + '/',
					method: 'POST',
					dataType: 'json',
					headers: {
						"X-CSRFToken": csrfToken
					},
					success: function(data) {
						// Handle success, e.g., update the UI
						console.log(data.message);
						var takenText = $('<span>Taken</span>');
                		button.replaceWith(takenText);
					},
					error: function(xhr, status, error) {
						// Handle error if needed
						console.error(error);
					}
				});
			});
		});
	</script>

</head>
<body>
	<div>
	<h1>Active Reservations</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Party Size</th>
			<th>Table ID</th>
			<th>Action</th>

		</tr>
		{% for reservation in reservations %}
			<tr>
				<td>{{ reservation.name }}</td>
				<td>{{ reservation.email }}</td>
                <td>{{ reservation.start_time|date:"F d, Y, H:i" }}</td>
				<td>{{ reservation.end_time|date:"F d, Y, H:i" }}</td>
				<td>{{ reservation.party_size }}</td>
				<td>{{ reservation.table_id }}</td>
				<td>
                    {% if not reservation.taken %}
						<button class="mark-as-taken-btn btn btn-primary" data-reservation-id="{{ reservation.id }}">Mark as Taken</button>
                    {% else %}
                        Taken
                    {% endif %}
                </td>
			</tr>
		{% endfor %}
	</table>
</div>
<br>
<div>	
	<h1>Past Reservations</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Party Size</th>
			<th>Table ID</th>
		</tr>
		{% for reservation in past_reservations %}
			<tr>
				<td>{{ reservation.name }}</td>
				<td>{{ reservation.email }}</td>
                <td>{{ reservation.start_time|date:"F d, Y, H:i" }}</td>
				<td>{{ reservation.end_time|date:"F d, Y, H:i" }}</td>
				<td>{{ reservation.party_size }}</td>
				<td>{{ reservation.table_id }}</td>
				
			</tr>
		{% endfor %}
	</table>
</div>
</body>
</html>
{% endblock %}