{% extends "base.html" %} {% block pagecontent %}
<link rel="stylesheet" href="/static/css/cart.css" type="text/css" />

<div class="container">
  <style>
    
  </style>
  <h1 class="text-center my-5">Your Cart</h1>
  {% if cart_items %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item name</th>
        <th>Price</th>
        <th>Quantity</th>
        {% if not ordered %}
        <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>{{ item.item.name }}</td>
        <td>{{item.final_price}} Ft</td>
        <td>
          {% if not ordered %}
          <a href="{% url 'add_to_cart_from_cart' item.item_id %}"
            ><button class="btn btn-primary">+</button></a>
            {% endif %}
          &nbsp {{ item.quantity }} &nbsp
          {% if not ordered %}
          <a href="{% url 'remove_from_cart' item.id%}"
            ><button type="submit" class="btn btn-danger">-</button></a>
            {% endif %}
        </td>
        {% if not ordered %}
        <td>
          <a href="{% url 'trash_item' item.id %}"><img src="\static\pics\trash.png"  width="30" height="30"></a>
        </td>
        {% endif %}
      </tr>

      {% endfor %}
    </tbody>
  </table>

  <div class="d-flex justify-content-between align-items-center">
    <p class="lead">Total: {{ final_price }} Ft</p>
  </div>
  
  
  {% if ordered %}
  <p>Your order has been placed</p>
  {% else %}
  <a href="{% url 'order' cartid %}">
    <button class="btn btn-primary">Place order</button>
  </a>
  
  <form method="POST" action="{% url 'order_paid' cartid %}">
    {% csrf_token %}
    <br>
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ publishable_key }}"
    data-description="Payment for your order"
    data-amount="{% widthratio final_price 1 100 %}"
    data-locale="auto"

    data-label="Pay Now"
    data-currency="huf"

    >  
  </script>
  </form>
  <br>
  <a href="{% url 'empty_cart' %}">
    <button class="btn btn-danger">Empty cart</button>
  </a>
  {% endif %} {% else %}
  <p class="lead text-center">Your cart is empty.</p>

  {% endif %}

  {% if not ordered %}
  {% if recommendations %}
  <div class="recommendations-container">
    <p class="recommendations-title">These go well with your current choice:</p>
    <div class="recommendations-wrapper">
      {% for recommendation in recommendations %}
      <div class="recommendation-card">
        <a href="/add_product_to_cart/{{ recommendation.id }}">{{ recommendation.name }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endif %}
  

  
</div>
{% endblock %}
