{% extends 'base.html' %} {% load humanize %} 

  <body>
    {% block pagecontent %}
  <form>
    {% for category in categories %}
      <label>
        <input type="checkbox" name="category" value="{{ category }}" checked> {{ category }}
      </label>
    {% endfor %}
  </form>

  {% if item_list %}
  {% for category in categories %}
    <h2>{{ category }}</h2>
    <table class="table table-striped" id="tbl-{{category}}">
      <thead>
        <tr>
          <th>Drinks</th>
          <th>Price</th>
          <th></th>
          {% if request.user.is_staff %}
          <th>Modify</th>
          <th>Remove</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in item_list %}
          {% if item.category == category %}
            <tr>
              <td id="tdName">{{ item.name }}</td>
              <td id="tdPrice">{{ item.price }} Ft</td> 
              <td><a href="{% url 'add_to_cart' item.id %}"><img src="static\pics\cart.png" alt="Add to cart" width="30" height="30"></a></td>
              {% if request.user.is_staff %}
              <td>
                <input type="hidden" id = "editdata" name="editdata" value="{{ item.id }}" />
                <button
                  type="submit"
                  class="btn btn-primary modify-button"
                  id="modify-button"
                  onclick="openForm('myModal')"
                >
                  Modify
                </button>
              </td>
              <td>
                <form method="post" class="form-inline">
                  {% csrf_token %}
                  <input type="hidden" name="remove" value="{{ item.id }}" />
                  <button type="submit" class="btn  btn-danger" >Remove</button>
                </form>
              </td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% else %}
  <p>No items found.</p>
{% endif %}




    {% if request.user.is_staff %}
    <button class="btn btn-primary" type="submit" onclick="openForm('AddModal')">
      Add
    </button>



    {% include "partials/add_modal.html" %}



    {% include "partials/modify_modal.html" %}
    
    {% endif %} 
    
    
    <script>
      $(document).on("click", ".modify-button", function () {

        var tdPriceValue = $(this).closest("td").siblings("#tdPrice").text().slice(0, -3);;
        console.log("tdNameValue");
        var tdNameValue = $(this).closest("td").siblings("#tdName").text();
        var inputValue = $(this).closest("tr").find("input#editdata").val();
        
        document.getElementById("editItemID").value = inputValue;
        document.getElementById("name").value = tdNameValue;
        document.getElementById("price").value = tdPriceValue;
        
      
        document.getElementById("myModal").style.display = "block";
      });
    </script>
    
    <script>
  // Function to show or hide tables based on the selected categories
  function filterCategories() {
    var checkboxes = document.querySelectorAll('input[name="category"]');
    checkboxes.forEach(function(checkbox) {
      var category = checkbox.value;
      var table = document.getElementById('tbl-' + category);
      if (checkbox.checked) {
        table.style.display = 'table';
      } else {
        table.style.display = 'none';
      }
    });
  }

  // Add event listener to the checkboxes
  var checkboxes = document.querySelectorAll('input[name="category"]');
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', filterCategories);
  });
</script>
    
    {% endblock %}
