{% extends 'base.html' %} {% load humanize %} 

  <body>
    {% block pagecontent %}
    <div class = "panel" style="border:none;background-color: transparent;">
    <div class = "panel-heading">
    <div class="pull-right">
      <span class="clickable filter" data-toggle="tooltip"  data-container="body">
        <i class="glyphicon glyphicon-filter" ></i>
      </span>
    </div>
    </div>
    <br>
    <div class="panel-body" >
      <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#tbl" placeholder="Filter Drinks" />
    </div>
  </div>


  <form>
    {% for category in categories %}
      <label>
        <input type="checkbox" name="category" value="{{ category }}" checked> {{ category }}
      </label>
    {% endfor %}
  </form>

  {% if item_list %}
  {% for category in categories %}
    <h2>{{ category }}</h2>
    <table class="table table-striped" id="tbl-{{category}}">
      <thead>
        <tr>
          <th>Drinks</th>
          <th>Price</th>
          <th></th>
          {% if request.user.is_staff %}
          <th>Modify</th>
          <th>Remove</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in item_list %}
          {% if item.category == category %}
            <tr>
              <td id="tdName">{{ item.name }}</td>
              <td id="tdPrice">{{ item.price }} Ft</td>
              <td><a href="{% url 'add_to_cart' item.id %}"><img src="static\pics\cart.png" alt="Add to cart" width="30" height="30"></a></td>
              {% if request.user.is_staff %}
              <td>
                <input type="hidden" id = "editdata" name="editdata" value="{{ item.id }}" />
                <button
                  type="submit"
                  class="btn btn-primary modify-button"
                  id="modify-button"
                  onclick="openForm('myModal')"
                >
                  Modify
                </button>
              </td>
              <td>
                <form method="post" class="form-inline">
                  {% csrf_token %}
                  <input type="hidden" name="remove" value="{{ item.id }}" />
                  <button type="submit" class="btn  btn-danger" >Remove</button>
                </form>
              </td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% else %}
  <p>No items found.</p>
{% endif %}




    {% if request.user.is_staff %}
    <button class="btn btn-primary" type="submit" onclick="openForm('AddModal')">
      Add
    </button>



    <div class="modal" id="AddModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Item</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              onclick="closeForm('AddModal')"
            >
              &times;
            </button>
          </div>

          <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              <input type="hidden" id = "AddItemID" name="AddItemID" />
              <div class="form-group">
                <label for="AddType">Type</label>
                <select
                  class="form-control"
                  id="AddType"
                  onchange="updateCategory('AddType', 'Addcategory')"
                  name = "type"
                >
                  <option>Food</option>
                  <option>Drink</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Addcategory">Category</label>
                <select class="form-control" id="Addcategory" name = "category">
                  <option>Hamburger</option>
                  <option>Hot-Dog</option>
                </select>
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="Addname"
                  name="add"
                  placeholder="Enter name"
                />
              </div>

              <div class="form-group">
                <label for="price">Price</label>
                <input
                  type="text"
                  class="form-control"
                  id="Addprice"
                  name="price"
                  placeholder="Enter price"
                />
              </div>
            
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger close-btn"
              data-dismiss="modal"
              onclick="closeForm('AddModal')"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>



    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modify Item</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              onclick="closeForm('myModal')"
            >
              &times;
            </button>
          </div>

          <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              <input type="hidden" id = "editItemID" name="editItemID" />
              

              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="edit"
                  placeholder="Enter name"
                />
              </div>

              <div class="form-group">
                <label for="price">Price</label>
                <input
                  type="text"
                  class="form-control"
                  id="price"
                  name="price"
                  placeholder="Enter price"

                />
              </div>
            
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger close-btn"
              data-dismiss="modal"
              onclick="closeForm('myModal')"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    
    {% endif %} 
    
    
    <script>
      $(document).on("click", ".modify-button", function () {

        var tdPriceValue = $(this).closest("td").siblings("#tdPrice").text();
        console.log("tdNameValue");
        var tdNameValue = $(this).closest("td").siblings("#tdName").text();
        var inputValue = $(this).closest("tr").find("input#editdata").val();
        
        document.getElementById("editItemID").value = inputValue;
        document.getElementById("name").value = tdNameValue;
        document.getElementById("price").value = tdPriceValue;
        
      
        document.getElementById("myModal").style.display = "block";
      });
    </script>
    
    <script>
  // Function to show or hide tables based on the selected categories
  function filterCategories() {
    var checkboxes = document.querySelectorAll('input[name="category"]');
    checkboxes.forEach(function(checkbox) {
      var category = checkbox.value;
      var table = document.getElementById('tbl-' + category);
      if (checkbox.checked) {
        table.style.display = 'table';
      } else {
        table.style.display = 'none';
      }
    });
  }

  // Add event listener to the checkboxes
  var checkboxes = document.querySelectorAll('input[name="category"]');
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', filterCategories);
  });
</script>
    
    {% endblock %}
