{% extends 'base.html' %} {% load humanize %} 

{% block pagecontent %}

  <style>
    /* Main styles */


    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
    }


    /* Tabs styles */
    .tab {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .tab button {
      background-color: transparent;
      border: none;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      margin: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
      color: #555;
    }

    .tab button:hover {
      color: #000;
      transform: translateY(-5px);
    }

    .tab button.active {
      color: #000;
      border-bottom: 3px solid #000;
    }

    .tabcontent {
      display: none;
      width: 100%;
      padding: 2rem 0;
    }

    /* Beer table styles */
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 2rem;
    }

    table th {
      background-color: #555;
      color: #fff;
      padding: 1rem;
      text-align: left;
    }

    table td {
      padding: 1rem;
      border-bottom: 1px solid #eee;
    }

    /* Cocktails grid styles */
    .food-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 2rem;
      margin-top: 2rem;
    }

    .food-card {
      border: 1px solid #eee;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }

    .food-card:hover {
      transform: translateY(-5px);
    }

    .food-card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .food-card h2 {
      font-size: 1.5rem;
      margin: 1rem;
    }

    .food-card p {
      margin: 1rem;
    }

    .food-card .price {
      background-color: #555;
      color: #fff;
      padding: 1rem;
      font-size: 1.2rem;
      text-align: right;
    }

    /* Responsive styles */
    @media (max-width: 768px) {
      h1 {
        font-size: 2rem;
      }

      .tab button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin: 0.5rem;
      }

      .food-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        padding: 0;
        margin: 2rem 0;
        }
        .food-card {
          margin: 0 auto;
          width: 90%;
        }
      
        .food-card img {
          width: 100%;
          height: auto;
        }
      }
      
      @media (max-width: 576px) {
        .tab button {
          font-size: 0.8rem;
        }
      
        .food-container {
          grid-template-columns: 1fr;
        }
      
        .food-card {
          width: 100%;
        }
      }
  </style>
  
  
    <h1>Our foods</h1>
  
  <div class="tab">
    {% for category in categories %}
    <button class="tablinks" onclick="openTab(event, '{{ category }}')">{{ category }}</button>
    {% endfor %}
    {% for category in categories %}
    {% with category_id=category %}
    <div id="{{ category_id }}" class="tabcontent">
      <h2>{{ category }}</h2>
      <div class="food-container">
        {% for food in foods %}
          {% if food.category == category %}
            <div class="food-card">
              <img src="{{food.image_url}}" alt="{{food.name}}">
              <h3>{{food.name}}</h3>
              <p>{{food.description}}</p>
              <p class="price">{{ food.price }} Ft</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endwith %}
  {% endfor %}
    
  </div>
  <script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace("", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
      }
      // Set the default tab to open
      document.getElementById("defaultOpen").click();
      </script>
      
      </body>
{% endblock %}