{% extends "base.html" %} {% block pagecontent %}
</div>
    <title>Local Pub Menu</title>
    <link rel="stylesheet" type="text/css" href="static/css/test.css">
 

    <div>
      <h1>Local Pub Menu</h1>
    </div>
    <div class="menu">
      <div class="category">
        <h2>Draft Beers</h2>
        <ul>
          <li>IPA</li>
          <li>Pale Ale</li>
          <li>Stout</li>
          <li>Lager</li>
          <li>Pilsner</li>
        </ul>
      </div>
      <div class="category">
        <h2>Beers</h2>
        <ul>
          <li>Budweiser</li>
          <li>Corona</li>
          <li>Guinness</li>
          <li>Heineken</li>
          <li>Modelo</li>
        </ul>
      </div>
      <div class="category">
        <h2>Wines</h2>
        <ul>
          <li>Chardonnay</li>
          <li>Merlot</li>
          <li>Pinot Grigio</li>
          <li>Sauvignon Blanc</li>
          <li>Zinfandel</li>
        </ul>
      </div>
      <div class="category">
        <h2>Whiskys</h2>
        <ul>
          <li>Bourbon</li>
          <li>Irish Whiskey</li>
          <li>Scotch</li>
          <li>Canadian Whiskey</li>
          <li>Japanese Whiskey</li>
        </ul>
      </div>
      <div class="category">
        <h2>Gins</h2>
        <ul>
          <li>Gin and Tonic</li>
          <li>Aviation Cocktail</li>
          <li>French 75 Cocktail</li>
          <li>Gimlet Cocktail</li>
          <li>Negroni Cocktail</li>
        </ul>
      </div>
      <div class="category">
        <h2>Rums</h2>
        <ul>
          <li>Rum and Coke</li>
          <li>Mai Tai Cocktail</li>
          <li>Pina Colada Cocktail</li>
          <li>Daiquiri Cocktail</li>
          <li>Mojito Cocktail</li>
        </ul>
      </div>
    </div>
    <footer>
      <p>&copy; Local Pub 2023</p>
    </footer>

{% endblock %}
