<!-- payment.html -->

{% extends "base.html" %}

{% block pagecontent %}
    <form action="{% url 'payment' %}" method="post" id="payment-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="card-element">Credit or debit card</label>
            <div id="card-element"></div>
        </div>
        <button type="submit" class="btn btn-primary">Pay Now</button>
    </form>



    <script>
        var stripe = Stripe('{{ publishable_key }}');
        var elements = stripe.elements();
        
        var cardElement = elements.create('card');
        cardElement.mount('#card-element');

        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(cardElement).then(function(result) {
                if (result.error) {
                    // Inform the user if there was an error
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server
                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            var form = document.getElementById('payment-form');
            // Insert the token ID into the form so it gets submitted to the server.
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
          
            // Submit the form.
            form.submit();
          }
        </script>
    {% endblock %}