<!-- profile.html -->
{% extends 'base.html' %}

{% block pagecontent %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">{{ user.username }}'s Profile</div>
          <div class="card-body">
            <p>Points: {{ points }}</p>
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
              {% endfor %}
            {% endif %}
            <form method="post">
              {% csrf_token %}
              {{ user_form.as_p }}
              <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
            </form>

            <form method="post" action="{% url 'delete_account' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>

            <!-- Add a button to go to the coupon redemption page -->
            <a href="{% url 'coupon_redeem' %}" class="btn btn-info mt-3">Redeem Coupon</a>
          </div>
          
          Your Coupons's:
            {% for coupon in user_coupons %}
            <br>
                {{coupon.code}}
                {% if coupon.coupon_type == "percentage" %}
                  {{coupon.product}}
                  {{coupon.percentage}}
                {% else %}
                  {{coupon.fixed_amount}}
                {% endif %}
                
            {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
