{% extends 'base.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% block pagecontent %}
<style>
  /* Style the container */
  .reservation-container {
      width: 60%;
      margin: 0 auto;
      padding: 20px;
      background-color: #f7f7f7;

  }

  /* Style the headings */
  h1, h3 {
      color: #333;
  }

  /* Style the form */
  form {
      margin-top: 20px;
      padding: 20px;

  }

  /* Style the form fields */
  label {
      font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  /* Style the button */
  button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  button:hover {
      background-color: #0056b3;
  }

  /* Style the error message */
  .error-message {
      color: red;
  }
</style>

<br>
<div class="reservation-container">
    <h1>Table Reservation: {{ table }} for <br> {{date1}}</h1>
    {% if reserved_time %}
  <ul>
    {% for time in reserved_time %}
      <li>{{ time.start_time }} to {{ time.end_time }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No times reserved yet.</p>
    {% endif %}

    {% if error_message %}
    <li>{{error_message}}</li>
    {% endif %}
    <h3>Make a Reservation</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reserve</button>
    </form>

    <script>
        $(document).ready(function() {
            console.log({{ table.max_capacity }});
            var tableSize = {{ table.max_capacity }};
            
            $('#id_party_size').attr('min', 1);
            $('#id_party_size').attr('max', tableSize);
        });
    </script>

<script>
  var reservedTimes = [
    {% for time in reserved_time %}
      {"start_time" :"{{ time.start_time }}", "end_time": "{{ time.end_time}}"},
    {% endfor %}
    {% for time in past_times %}
    {"start_time" :"{{ time.start_time }}", "end_time": "{{ time.end_time}}"},
    {% endfor %}
  ];

  var starttime = document.getElementById("id_starttime");
  // Loop through each option in the select element
  for (var i = 0; i < starttime.options.length; i++) {
    var optionValue = starttime.options[i].value;
    // Check if the current option value is within any of the reserved time slots
    for (var j = 0; j < reservedTimes.length; j++) {
      var start = reservedTimes[j].start_time.slice(11,16);
      var end = reservedTimes[j].end_time.slice(11,16);
      if (optionValue >= start && optionValue <= end) {
        starttime.options[i].disabled = true;
        break;
      }
    }
    // Loop through the options in reverse order and remove any disabled options
  }
  for (var i = starttime.options.length - 1; i >= 0; i--) {
    if (starttime.options[i].disabled) {
      starttime.remove(i);
    }
  }
  
  var endtime = document.getElementById("id_endtime");
  for (var i = 0; i < endtime.options.length; i++) {
    var optionValue = endtime.options[i].value;
    // Check if the current option value is within any of the reserved time slots
    for (var j = 0; j < reservedTimes.length; j++) {
      var start = reservedTimes[j].start_time.slice(11,16);
      var end = reservedTimes[j].end_time.slice(11,16);
      
      if (optionValue >= start && optionValue <= end) {
        endtime.options[i].disabled = true;
        break;
      }
    }
    // Loop through the options in reverse order and remove any disabled options
  }
  for (var i = endtime.options.length - 1; i >= 0; i--) {
    if (endtime.options[i].disabled) {
      endtime.remove(i);
    }
  }
</script>



<script>
  var startTimeSelect = document.getElementById("id_starttime");
  var endTimeSelect = document.getElementById("id_endtime");

  var firstOption = document.createElement("option");
  firstOption.value = "";
  firstOption.selected = true;
  firstOption.text = "Select end time";
  endTimeSelect.insertBefore(firstOption, endTimeSelect.firstChild);
  var defaultOption = endTimeSelect.options[0];
  console.log(endTimeSelect);
  console.log("www");
  var originalEndTimeOptions = endTimeSelect.innerHTML;

  startTimeSelect.addEventListener("change", function() {
    var selectedStartTime = this.value;

    endTimeSelect.innerHTML = "";

    endTimeSelect.innerHTML = originalEndTimeOptions;
 
    for (var i = 0; i < endTimeSelect.options.length; i++) {
      var optionValue = endTimeSelect.options[i].value;
      if (optionValue <= selectedStartTime || optionValue > addMinutes(selectedStartTime, 30)) {
        endTimeSelect.options[i].disabled = true;
        
      } else {
        endTimeSelect.options[i].disabled = false;
      }
    }
  });
  
  function addMinutes(time, minutes) {
    var date = new Date("2000-01-01T" + time + ":00Z");
    date.setMinutes(date.getMinutes() + minutes);
    return date.toISOString().slice(11, 16);
  }

  endTimeSelect.addEventListener("change", function() {
    var startTimeValue = startTimeSelect.value;
    var endTimeValue = endTimeSelect.value;
    if (endTimeValue <= startTimeValue) {
      endTimeSelect.selectedIndex = defaultOption.index;
    }
  });
</script>

</div>
<br>
{% endblock %}




