
<div class="modal" id="AddModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Item</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            onclick="closeForm('AddModal')"
          >
            &times;
          </button>
        </div>

        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
            <input type="hidden" id = "AddItemID" name="AddItemID" />
            <div class="form-group">
              <label for="AddType">Type</label>
              <select
                class="form-control"
                id="AddType"
                onchange="updateCategory('AddType', 'Addcategory')"
                name = "type"
              >
                <option>Food</option>
                <option>Drink</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Addcategory">Category</label>
              <select class="form-control" id="Addcategory" name = "category">
                <option>Hamburger</option>
                <option>Hot-Dog</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="Addname"
                name="add"
                placeholder="Enter name"
                required
              />
            </div>

            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="number"
                class="form-control"
                id="Addprice"
                name="price"
                placeholder="Enter price"
                required
              />
            </div>

            <div class="form-group">
              <label for="ingredients">Ingredients</label>
              <select multiple class="form-control" id="ingredients" name="ingredients">
                  {% for ingredient in ingredients %}
                      <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                  {% endfor %}
              </select>
          </div>
          
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger close-btn"
            data-dismiss="modal"
            onclick="closeForm('AddModal')"
          >
            Close
          </button>
          <button type="submit" class="btn btn-success">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>